# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

ProjectB/FileB-2.txt
ProjecA/FileA-2.txt
ProjectB/FileB-1.txt
ProjecA/FileA-3.txt
ProjecA/FileA-5.txt
ProjecA/FileA-6.txt




